# OPENAI_API_KEY=
# AWS_PROFILE=glowingstar
# AWS_REGION=us-east-2
# AWS_SAINTPAUL_ASSETS_BUCKET=saintpaul-assets-402961397995-us-east-2
# AWS_SAINTPAUL_SESSIONS_TABLE=saintpaul_sessions_v1
# AWS_SAINTPAUL_EVENTS_TABLE=saintpaul_events_v1
# AWS_SAINTPAUL_ERRORS_TABLE=saintpaul_errors_v1
# AWS_USF_SESSIONS_TABLE=usf_sessions_v1
# AWS_USF_EVENTS_TABLE=usf_events_v1
# AWS_USF_ERRORS_TABLE=usf_errors_v1
# AWS_USF_RECORDINGS_BUCKET=usf-defense-recordings-402961397995-us-east-2
